.reels {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.reels_reel {
  position: relative;
  height: 100%;
  overflow: scroll;
  width: 100%;
  scroll-snap-type: y mandatory;

  /* IE and Edge */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reels_reel::-webkit-scrollbar {
  display: none;
}

.video {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.video__player {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 500px) {
  .reels_reel {
    position: relative;
    height: 800px;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
  }
}

.video__footer {
  position: relative;
  color: white;
  bottom: 150px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.video__sidebar {
  position: absolute;
  top: 70%;
  right: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}

.video__sidebar svg {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: sans-serif;
  margin-bottom: 30px;
}

h3 {
  margin: 0;
  color: black;
  margin-bottom: 5px;
}
